html, body {
    height: 100%; 
}

body {
    position: relative;
    margin: 0 auto;
}

header .container {
    max-width: 83%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 1200px;
   
}

header {
   margin: 0 auto;
   max-width: 100%; 
   display: flex;
   align-items: center; 
   padding-top: 30px;
   padding-bottom: 30px;
   justify-content: space-between;
   background-color: black;
   
}

header .logo {
    max-width: 130px;
    margin-left: 32px;
}

header .right_header {
    display: flex;
    align-items: center;

}

header .logo img {
    max-width: 100%;
}

header .mnu_top {
    list-style-type: none;
}

header .mnu_top li{
    display: inline-block;
    margin-right: 35px;

}

header .mnu_top li a {
    font-family: 'Poppins', sans-serif;
    display: block;
    text-decoration: none;
    color: #FFFF;
    font-size: 13px;
    font-weight: 400;
    transition: color .4s ease;
}

header .mnu_top li a:hover {
    color: rgb(131, 156, 7);
}

header .btns_header {
    display:flex;
    align-items:center;
    margin-right: 20px;
}

header .btns_header >a {
    border-radius: 14px;
    text-decoration: none;
    transition: all .4s ease;
    background-color: #FFFF;
}

header .btns_header .btn {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    border: 1px solid #ffff;
    padding: 10px 20px;
}

header .btns_header .btn:hover {
    background-color: #A2D5CE;
}

.first_section {
    background-image: url(/assets/images/BG_first_section.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.first_section .container {
    max-width: 1440px;
    max-height: 716px;
    
}

.first_section_info h2 {
    font-family: 'Poppins', sans-serif;
    color: #C0C0C0;
    display: flex;
    justify-content: center;
    padding-top: 466px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto;
}

.first_section_info h1 {
    font-family: 'Poppins', sans-serif;
    color: #FFFF;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    margin: 0 auto;
}

.first_section_info h3 {
    font-family: 'Poppins', sans-serif;
    color: #C0C0C0;;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    width: 580px;
    height: 80px; 
    text-align: center;        
}
 
.first_section_info_right {
    padding-top: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.first_info {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFF;
    margin-right: 16px;
    margin-bottom: 46px;
}

.first_info img {
    margin-right: 6px;
}

.second_section {
    background-color: black;
}

.second_section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    margin: 0 auto;
    padding-top: 113px;
    color: #FFFFFF;
}

.second_section h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    color: #C0C0C0;
    margin-bottom: 42px;
}

.container {
    padding: 0 136px;
}

.cont_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_block_second {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.first_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(/assets/images/first_img_section2.png);
    background-repeat: no-repeat;
    width: 576px;
    height: 600px;
    padding: 0 0 30px 30px;
}

.first_block h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #FFFF;
    width: 280px;
    height: 40px;
    text-transform: uppercase;
    margin: 0;

}

.first_block h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    width: 501px;
    height: 80px;
    margin: 0;
    margin-bottom: 17px;
}

.second_section_btn {
    display: flex;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 14px;
    background-color: #fff;
    width: 100px;
}

.circle {
    background-color: #000;
    border-radius: 30%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.three_section {
    height: 600px;
    background-image: url(/assets/images/BG_three_section.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.block_info {
    height:80px;
    width: 298px;
    padding-top: 260px;
    padding-left: 1080px;
}

.block_info h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 206px;
    height: 20px;
    color: #FFFF;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.block_info h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 298px;
    height: 60px;
    color: #C0C0C0;
    margin: 0;
}


.first_section_info_right_2 {
    padding-top: 204px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.first_info_sec {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFF;
    margin-right: 16px;
    margin-bottom: 40px;
}

.first_info_sec img {
    margin-right: 6px;
}

.section-gear {
    height: 540px;
    display: flex;
    justify-content: center;
}

.gear-container__left {
    background: #000000;
    height: 540px;
    width: 720px;
    z-index: -1;
    padding-left: 100px;
    padding-top: 136px;
}

.gear-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    width: 136px;
    height: 20px;
    color: #C0C0C0;
    text-transform: uppercase;
    margin: 0 484px 6px 0;
}

.gear-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFF;
    margin: 0 317px 14px 0;
}

.gear-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFF;
    margin: 0 106px 20px 0;
    width: 514px;
}

.button .circle_new {
    background-color: #FFFFFF;
    border-radius: 30%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

